@import "tailwindcss";

@theme {
  --color-primary: #e8ccb1;
}

html,
body {
  min-height: 100vh !important;
  height: 100%;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
